extends Base.pug

block style 
    style
        include ..\static\baseStyle.css
        include ..\static\homeStyle.css
block content
    section#container
        h1 Home
        p=homedata   
        - var displayList= postList;  
        
        for item in displayList
            h1=item.title
            div#paragraphLink
                p=item.message.substr(1, 100) + '...'
                a(href="http://") Readme 


