extends Base.pug

block style 
    style
        include ..\static\baseStyle.css
        include ..\static\homeStyle.css
block content
    section#container
        h1 Home
        p=homedata   
        - var displayList= postList;  
        
        for item in displayList
            h1=item.title
            p
               span= item.message.substr(0, 100) + '...'
                a(href=`http://127.0.0.1/Blog/${item.title}`) Readme
                 


