html
  head
    title   Dance Academy
    block scripts
    block style
  body
    section.nav 
            nav 
                ul
                    div#logo
                        img(src="static/images/logo.png", alt="no image is found")
                        | HDA
                    li #[a(href="/") Home]
                    li #[a(href="/") About]
                    li #[a(href="/") Services]
                    li #[a(href="/") Class Info]
                    li #[a(href="/contact") Contact Us]
                    
    block content
    foot   
        div#footer
            | CopyRight  © Muhammad Hammad Asghar 2021-CS-56  All reversed rights  
