html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title h
        style 
            include ../static/style.css
    body 
        section.nav 
            nav 
                ul
                    div#logo
                        img(src="static/images/logo.png", alt="no image is found")
                        | HDA
                    li #[a(href="/") Home]
                    li #[a(href="/") About]
                    li #[a(href="/") Services]
                    li #[a(href="/") Class Info]
                    li #[a(href="/") Contact Us]
        section#introSection
            div Welcome to Harry's Dance Academy
            div.small Eat Sleep Dance Repeat 
        section#Mission
            h2 Mission
            div.cardContainer
                div.card
                    h3 Dance Perfection
                    div.missonDescriptionContainer
                        img(src="static/images/perfection.png", alt="", srcset="")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem pariatur corporis laboriosam minus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem pariatur corporis laboriosam minus 
                div.card
                    h3 Dance Tips
                    div.missonDescriptionContainer
                        img(src="static/images/danceTips.png", alt="", srcset="")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem pariatur corporis laboriosam minus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem pariatur corporis laboriosam minus
                div.card
                    h3 Dance Expert
                    div.missonDescriptionContainer
                        img(src="static/images/expert.png", alt="", srcset="")
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem pariatur corporis laboriosam minus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem pariatur corporis laboriosam minus
        section#sponsorSection 
            h2  Sponsors 
            div#spnsonerLogos
                img(src="static/images/Sponsers/nike.png", alt="", srcset="")
                img(src="static/images/Sponsers/adidas.png", alt="", srcset="")
                img(src="static/images/Sponsers/hp.png", alt="", srcset="")
                
        section#footer   
            | CopyRight  © Muhammad Hammad Asghar 2021-CS-56 | All reversed rights        